<template>
    <lightning-card title="Additional Images" icon-name="utility:image">
        <template if:true={loading}>
            <lightning-spinner alternative-text="Loading" size="medium" variant="brand"></lightning-spinner>
        </template>

        <div class="slds-p-horizontal_small">
            <lightning-carousel>
                <template if:true={images} for:each={images} for:item="img" for:index="index">
                    <lightning-carousel-image
                        key={img.index}
                        src={img.imageURL}
                        header=""
                        description=""
                        alternative-text=""
                        href="javascript:void(0);"
                    >
                    </lightning-carousel-image>
                </template>
            </lightning-carousel>
        </div>
    </lightning-card>
</template>
